@mixin font-face($font-family, $file-path, $weight: normal, $style: normal ) {
  @font-face {
    font-weight: $weight;
    font-family: $font-family;
    font-style: $style;
    font-display: swap;
    src: local($font-family), url("#{$file-path}.woff2") format("woff2"), url("#{$file-path}.woff") format("woff");
  }
}
